body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#output{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuBtn{
    width: 72px;
    height: 72px;
    height: auto;
}
#notes{
    width:100%;
    height:100%;
    font-size: 9pt;
    border-radius: 10%;
    border: 2px solid rgb(5, 99, 207);
}
header{
    font-family: Century;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img h1"
    "img h3";
    text-align: center;
}
header img{
    height: 250px;
    width: 220px;
    grid-area: img;
    border: 0;
    margin: 0;
}
header h1{
    color: black;
    text-decoration: underline;
    font-size: 3em;
    margin-bottom: 0;
    grid-area: h1;
}
header h1{
    border-radius: 20%;
    background-color: rgb(78, 76, 76);
    color: aqua;
}
header h3{
    font-size: 1.8em;
    margin-top: 0;
    grid-area: h3;
    font-style: italic;
}
.content-table{
    flex: 2;
    margin-left: 50px;
    height: 100%;
    border: 2px solid black;
    padding: 0;
    display: flex;
    font-size: 1.2em;
    position: sticky;
    top:100px;
    /* border-collapse: collapse; */
}
.content-table td{
    border-radius: 5%;
    border: 2px solid black;
    padding: .5em;
}
.menuBtn:hover{
    cursor: pointer;
    background-color: grey;
}
.container {
    display: flex;
    align-items: baseline;
}
.image-container {
    flex:1;
    margin-left: 40px; /* Add space between images and table container */
    margin-right: 50px;
  }
.image-container img {
    max-width: 100%; /* Ensure the images fit within the container */
    margin-bottom: 50px; 
    height: auto; /* Let the height adjust proportionally */
  }
  .table-container {
    position: sticky;
    top:10px;
  }
  h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: 1000;
    font-size: 2.1em;
  }