.w3-sidebar{
    /* background: #F5F5F5; */
    background-color: #d3d5d5bf;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
#output2{
  max-height: 150px;
}

header{
    font-family: Century;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img h1"
    "img h3";
    text-align: center;
}
header img{
    height: 200px;
    width: 150px;
    grid-area: img;
    border: 0;
    margin: 0;
}
header h1{
    font-family: Century;
    border-radius: 20%;
    background-color: rgb(78, 76, 76);
    color: aqua;
}
header h3{
    font-family: Century;
    font-size: 1.8em;
    margin-top: 0;
    grid-area: h3;
    font-style: italic;
}
.content-table{
    height: fit-content;
    width: 60%;
    border-radius: 10px;
    /* border: 2px solid black; */
    padding: 0;
    display: flex;
    font-size: 1.2em;
    /* border-collapse: collapse; */
    margin-left: auto;
    margin-right: auto;
}
.content-table td{
  
    background: linear-gradient(to right, #bdc3c763, #4e667f60);
    /* text-align: center; */
    vertical-align: middle;
    border-radius: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 6px solid black;
    border-right: 4px solid black;
    padding: 0;
    padding-left: 0.5em;
    margin-bottom: 100px;
    /* padding: .5em; */
}
table {
  border-collapse: separate;
  border-spacing: 5px 10px;
}
table tr td:first-child:hover{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#pipBtn{
  padding: 20px 16px 30px 16px;
}

.container {
    display: flex;
    align-items: baseline;
}
.image-container {
    flex:1;
    margin-left: 40px; /* Add space between images and table container */
    margin-right: 50px;
  }
.image-container img {
    max-width: 100%; /* Ensure the images fit within the container */
    margin-bottom: 50px; 
    height: auto; /* Let the height adjust proportionally */
  }
  .table-container {
    position: sticky;
    top:10px;
  }
  h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: 1000;
    font-size: 2.1em;
  }
  .install-note{
    font-size: 1.4em;
  }