.screen{
    border: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#video{
    padding-bottom: 1em;
    width: 50%;
    height: fit-content;
}
#startbutton{
    padding: 0.2em;
    height: 3em;
    width: 5em;
    border-radius: 40%;
    background-color: red;
    text-size-adjust: 2em;
    font-size: large;
    color: white;
}
#output{
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas{
    padding: 3em;
    width: 80%;
    height: fit-content;
}